/*inline space*/

/*section style*/
section {
	margin-top: 100px;
}
.border {
	border-left: 2px dashed #3399FF; /* blue */
}
.border-active {
	border-left: 2px dashed #25AD49;  /* green */
}
.left-align {
  text-align: left;
}
.center-align {
  text-align: center;
}
.content-block {
	width: 70%;
	margin: 5% 15%;
  height: 100px;
	border: 2px dashed #3399FF;  /* blue */
  color: #3399FF;
  text-align: center;
  cursor: pointer;
}
.content {
	height: 100%;
	vertical-align: middle;
	margin: 0 auto;
	padding: 5px;
}
.content .content-container {
  display: inline-block;
}
.content .edit-btn {
	display: block;
	float: right;
	cursor: pointer;
}
.content .edit-btn:hover {
	transition: all ease .5s;
	text-decoration: underline;
}
.content .plus {
	font-size: 24px;
	color: #3399FF;
	line-height: 3.5em;
}

.content-block:hover {
	box-shadow: 0 0 20px -5px #3399FF; /* blue */
}
.content-block.active-content-block {
	border: 2px dashed #25AD49; /* green */
}
.content-block.active-content-block .plus {
	color: #25AD49;
}

.content-block-pattern {
	display: none;
}

/*section/drop-down list style*/
ul.drop-down {
  list-style: none;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 0;
}


.drop-down li {
  float: left;
  position: relative;
  background: #34495e; /* сolor currant*/
}

.drop-down .item,
.drop-down > li  a {
  border-radius: 5px;
}


.drop-down li a {
  display: block;
  padding: 5px 8px;
  text-decoration: none;
  color: #fff;
  transition: all ease .5s;

}

.drop-down:hover li a {
  opacity: .5;
  transition: all ease .5s;
}

.drop-down li:hover a {
  opacity: 1;
}

.submenu {
  position: absolute;
  z-index: 9999;
  border-top: 15px solid transparent;
  left: -9999px
 
}
.drop-down li:hover > .submenu {
  left: 10px;
}
.has-submenu:after {
  position: relative;
  content: "";
  top: 10px;
  margin: 0 -5px 4px 5px;  
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #3498DB;
  opacity: .7;
  transition: all ease .3s;
}
.drop-down > li:hover .has-submenu:after {
  opacity: 1;
}
.submenu:before {
   content: "";
   position: absolute;
   z-index: 1;  
   margin-top: 5px;
   left: -9999px;
   top: -15px;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   border-bottom: 10px solid #34495e;
}
.drop-down li:hover .submenu:before {
  left: 5px;
}
.submenu li {
  white-space: nowrap;
  padding: 1px;
}
.drop-down > li:hover > a {
  background: #2C3E50;
  transition: background ease .5s;
}

.submenu a {
  font-size: 90%;  
  margin: 3px;
  transition: background ease .3s;
}
.submenu a:hover {
  background: #3498DB;
}

/* functional part */

/* edit modal dialog*/
.modal-header {
  color: #3399FF; /* blue */
}
#edit-dialog [class*='modal'] {
  border: none;
  letter-spacing: 1px;
}
#modal-message {
	padding: 10px;
	color: #000;
	text-align: center;
}
.format-icon {
	display: inline-block;
	padding: 7px 5px;
}
.format-icon span {
	display: block;
}

/* image-uploader modal dialog*/
.wrap{
  width: 200px;
  margin: 0 auto;
  text-align: center
}
label[for=upload-image],
label[for=upload-video] {
  display: inline-block;
  border: 3px solid #ccc;
  color: #fff;
  font-weight: bold;
  background: #3399FF; /* blue */
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer
}
label[for=upload-image]:hover,
label[for=upload-video]:hover{
  background: #ddd
}
label[for=upload-image] input,
label[for=upload-video] input{ display:none }
.thumb{
  position:relative;
  height: 200px;
  width: 200px;
  overflow:hidden;
  margin:40px 0;
  cursor:move;
  text-align: center;
}
.thumb img{
  max-width:200px;
  max-height:200px;
  transition:all 0.4s;
}

/* video-uploader modal dialog */

#video-upload-dialog .modal-body{
  /*width: 400px;*/
}




/* text modal dialog */
#tx-ar-content {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  min-height: 300px;
}

/* wysiwyg-editor */
#wysiwyg-textarea{
  width: 100%;
  height: 200px;
  font-size: 14px;
  line-height: 18px
}